.section1{
  height: 100vh;
  position: relative;
  width: 56%;
}
.section2{
  height: 100vh;
  position: relative;
  width: 56%;
}
.section3{
  height: 100vh;
  position: relative;
  width: 56%;
}
.section4{
  height: 100vh;
  position: relative;
  width: 56%;
}

.section--img{
  width: 40%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  @include respond(normal){  //width < 900
    top: 35%;
  }
}

.img-1{
  left: 28%;
}
.img-2{
  left: 72%;
}

.section--texto{
  position: absolute;
  padding: 3rem;
  top: 70%;
  font-size: 1.2vw;
  text-align: center;
  color: $color-primary-dark;
  @include respond(normal){  //width < 900
    top: 60%;
  }
}
